@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');
#carrossel{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
    margin-top: 90px;
    height: 100vh;
}
#convidados,
#podcast {
  padding-top: 10vh;
  padding-bottom: 4vh;
  height: 90vh;
}
#nos img {
  width: 100%;
  height: 115%;
}
#nos .content {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(11, 163, 97, 0.388),
    rgba(60, 186, 146, 0.389)
  );
}
#podcast {
  background-image: linear-gradient(
    to right,
    rgb(11, 163, 97),
    rgb(60, 186, 146)
  );
}
#podcast a{
  background-color: red;
  z-index: 99999;
}
body {
  background: color-two;
  font-family: "Varela Round", sans-serif;
}
/* Titulos */
.title {
  position: absolute;
  font-size: 50pt;
  justify-content: center;
  font-weight: 400;
  top: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.TituloConvidados {
  color: #80d0c7;
}
.TituloPodcast {
  color: #ffffff;
}
.titulo{
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    justify-content: top;
}
.titulo h1{
    font-family: 'Lato',sans-serif;
    font-size: 50pt;
    padding-left: 100px;
    padding-bottom: 10px;
    line-height: .9;
    letter-spacing: 1px;
    color: #fff;
}
.titulo h2{
    width: 500px;
    text-align: justify;
    padding-left: 100px;
    font-weight: 300;
}

/* CARROSSEL */
 ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__viewport{
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;

}
.carousel__viewport a{
  position: absolute;
  top: -50px;

}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-image: url("../assets/Carrosel/carrossel01.png");
  background-repeat:no-repeat;
  background-size: contain;
  background-position:top ;
}

.carousel__slide:nth-child(even) {
  background-image: url("../assets/Carrosel/carrossel02.png");
  background-repeat:no-repeat;
  background-size: contain;
  background-position:bottom ;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 50px;
  margin-top: 20.5%;
  margin-left: 10%;
  margin-right: 10%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;  
  position: absolute;
  margin-bottom: 50px;
}

.carousel::after,
.carousel__next {
  right: -1rem;  
  position: absolute;
  margin-bottom: 50px;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  pointer-events: none;

}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

  /* Sobre nós */
  .content .beginning{
      position: absolute;
      max-width: 470px;
      max-height: 450px;
      left: -35vw;
      top: 14vw;
  }
  
/* CARDS */
.card {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
  text-align: center;
  color: white;
  float: left;
  background-color: #fff;
  height: 450px;
  transition: .5s ease-out;
}
.card:hover{
    height:102%;
}

.card p {
  position: relative;
  top: 60%;
  justify-content: center;
  align-items: center;
  font-size: 35pt;
  z-index: 3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.card .pelicula {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.806),
    rgba(255, 255, 255, 0)
  );
}

.convidados_1 {
  background-image: url(../assets/convidado01.png);
  background-color: #fff;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.convidados_2 {
  background-image: url(../assets/convidado02.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.convidados_3 {
  background-image: url(../assets/convidado03.jpg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}   

.podcast_1 {
    background-image: url(../assets/podcast01.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer
  }
  .podcast_2 {
    background-image: url(../assets/podcast02.jpeg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer;
  }
  .podcast_3 {
    background-image: url(../assets/podcast03.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: pointer
  }

  .card .peliculaPodcast{
    width: calc(33.3333% - 40px);
    background-color: black;
    z-index: 999;
  }

  /* FOOTER */

  footer{
    font-family: 'Manrope',sans-serif;
    font-size: 40px;
    background-image: linear-gradient(to left, #13547a, #80d0c7);
    width: 100vw;
    height: 250px;
    color: #fff;
    
  }
  footer .container{
    padding-top: 1.5%;
    align-items: center;
    justify-content: space-around;
  }
  footer h3{
    font-weight: 200;
  }
  footer b{
    font-weight: 700;
  }
  footer .compartilhe{
    width: auto;
    display: inherit;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    height: 50px;
    background-color: #fff;
    color:rgb(11, 163, 97);
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    border: none;
    text-decoration: none;
  }  

footer .compartilhe:hover{
  background: linear-gradient(to left, #13547a, #80d0c7);
    color: #fff;
  }