@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=D:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
body {
  background-color: aliceblue;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}
::-webkit-scrollbar-track-piece {
  background-color: #3a3a3a;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #959595;
  border-radius: 3px;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  z-index: 99999;
  width: 100%;
  background-image: linear-gradient(to left, #13547a, #80d0c7);
  padding: 25px;
}

.header .container {
  align-items: center;
  justify-content: space-between;
}

.header h1,
h2 {
  text-decoration: none;
  color: #fff;
}
.header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}
.header a:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease Os, left 0.3s ease Os;
  transition: 0.5s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

/* SECTIONS */

section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.header{
  position: fixed;
  top: 0px;
}
.minimizador {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
